.landingpage {
    background-color: #f2f2f2;
}

.landingpage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    max-width: 1240px;
}

.landingpage-container-top {
    background-color: #ffffff;
    border-top: 4px solid #f50;
}

.landingpage-container-top-body1 {
    display: flex;
    flex-direction: column;
    background-image: url('../../../public/images/Landingpage-img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    box-shadow: inset 0 120px 40px -40px rgba(5, 5, 5, .5);
}

.landingpage-container-top-body1-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 13px 30px;
}

.landingpage-container-top-body1-header-left {
    display: flex;
    background-color: transparent;
    align-items: center;
    gap: 1px;
}

.landingpage-container-top-body1-header-right {
    display: flex;
    gap: 10px;
}

.landingpage-container-top-body1-header-right button,
.landing-uploadbtn {
    height: 30px;
    line-height: 24px;
    color: #fff;
    font-size: 14px;
}

.landing-uploadbtn:hover {
    cursor: pointer;
}

.signin-btn {
    background-color: transparent;
    padding: 2px 15px;
    border-color: #ccc;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.create-account-btn {
    padding: 2px 16px;
    border: 1px solid #e5e5e5;
    background-color: #f50;
    border-color: #f50;
    border-radius: 3px;
}

.artist-btn {
    background-color: transparent;
    border: none;
    padding: 2px 0;
    letter-spacing: 0.4px;
}

.landingpage-container-top-body1-header-left span:nth-child(1) img {
    height: 46px;
    width: 48px;
}

.landingpage-container-top-body1-content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 100%;
}

.landingpage-container-top-body1-content h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: -12px;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
}

.landingpage-container-top-body1-content p {
    font-size: 18px;
    max-width: 530px;
    text-align: center;
    color: #fff;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
}

.landingpage-container-top-body1-content button {
    font-size: 18px;
    min-width: 210px;
    height: 46px;
    line-height: 46px;
    border: 1px solid #e5e5e5;
    background-color: #f50;
    border-color: #f50;
    color: #fff;
    padding: 2px 11px 2px 10px;
    border-radius: 3px;
}

/* ********************************* */
.landingpage-container-top-body2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 49px 0 12px;
    font-size: 16px;
    gap: 20px;
}

.landingpage-container-top-body2-left {
    position: relative;
}

.landingpage-container-top-body2-left input {
    width: 600px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    background: #f2f2f2;
    padding: 0 16px;
    height: 46px;
    color: #666;
    outline: 0;
    border: 0;
}

.landingpage-container-top-body2-left-search-icon {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #666;
    width: 40px;
    height: 46px;
    text-align: center;
    font-size: 40px;
}

.landingpage-container-top-body2-middle {
    font-size: 18px;
}

.landingpage-container-top-body2-right button {
    padding: 13px 23px;
    height: 46px;
    background-color: #f50;
    border-color: #f50;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
}

.landingpage-container-top-body3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landingpage-container-top-body3 h3 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
    font: 24px/1.4 Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    color: #333;
}

.landingpage-container-top-body3-songs {
    display: flex;
    gap: 55px;
    flex-wrap: wrap;
    padding: 0px 30px;
}

.playlist-btn {
    margin: 40px;
    font-size: 18px;
    height: 46px;
    padding: 13px 23px;
    background-color: #f50;
    border-color: #f50;
    color: #fff;
    line-height: 18px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    cursor: pointer;
}

/* ****************************************** */
.landingpage-container-middle {
    display: flex;
    gap: 45px;
    margin-top: 60px;
    padding: 0 70px;
}

.landingpage-container-middle-right {
    margin-top: 45px;
}

.landingpage-container-middle-right h2 {
    line-height: 1.2;
    font-size: 34px;
    margin-bottom: 17px;
    font-weight: 100;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
}

.landingpage-container-middle-right h2::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-image: linear-gradient(90deg, #7d01a1, #f30 50%, #f50);
    margin-top: 15px;
}

.landingpage-container-middle-right p {
    font: 12px/1.4 Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    color: #333;
    font-size: 24px;
}

.stores {
    margin-top: 28px;
    display: flex;
    gap: 10px;
}

/* *********************************************** */
.landingpage-container-bottom {
    margin-top: -4px;
    background-color: #ffffff;
}

.landingpage-container-bottom-bodyTop {
    background-image: url('../../../public/images/Landingpage-img3.jpg');
    height: 350px;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    color: #fff;
    padding: 0 570px 0 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.landingpage-container-bottom-bodyTop h2 {
    font-size: 36px;
}

.landingpage-container-bottom-bodyTop p {
    font-size: 24px;
    line-height: 1.35;
    margin: 11px 0 26px;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
}

.landingpage-container-bottom-bodyTop button {
    font-size: 18px;
    padding: 13px 24px;
    height: 46px;
    background: transparent;
    color: #fff;
    border-color: #ccc;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.landingpage-container-bottom-bodyMiddle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}

.landingpage-container-bottom-bodyMiddle h3 {
    font-size: 36px;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
    color: #333;
}

.landingpage-container-bottom-bodyMiddle p {
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.landingpage-container-bottom-bodyMiddle button {
    margin: 8px 0px;
    font-size: 18px;
    height: 46px;
    padding: 13px 23px;
    min-width: 200px;
}

.account {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 5px 0 10px;
}

.account p {
    font-size: 14px;
    line-height: 16.8px;
}

.account button {
    font-size: 16px;
    line-height: 18px;
    padding: 10px 15px;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
    color: #333;
    min-width: 48px;
}

.landingpage-container-bottom-bodyBottom {
    line-height: 20px;
    padding: 15px 30px;
    color: #ccc;
    border-top: 1px solid #f2f2f2;
    padding-bottom: 75px;
}

.landingpage-container-bottom-bodyBottom span:nth-child(2) {
    color: rgb(51, 136, 221);
}

.landingpage-container-bottom-bodyBottom span:nth-child(3) {
    color: #333;
}

.nav-icon {
    display: none;
    color: white;
    position: relative;
}

.menu_list {
    display: none;
    position: absolute;
    right: 35px;
    top: 65px;
    background-color: #ccc;
    width: 150px;
    height: auto;
    /* display: flex; */
    flex-direction: column;
    padding: 15px;
    gap: 18px;
}

.menu_list li {
    list-style: none;
    border-bottom: 1px solid #666;
    padding-bottom: 2px;
    color: #333;
}

.menu_list li:hover {
    color: #f50;
    cursor: pointer;
}

/* Media Queries */
@media screen and (min-width: 320px) and (max-width: 766px) {

    .landingpage-container-top-body1-header-right {
        display: none;
    }

    .nav-icon {
        display: block;
    }

    .menu_list {
        display: flex;
    }

    .landingpage-container-top-body1-content h2 {
        font-size: 1.2rem;
    }

    .landingpage-container-top-body1-content p {
        font-size: 0.8rem;
    }

    .landingpage-container-top-body1-content button {
        font-size: 0.8rem;
        min-width: 80px;
        height: 36px;
        line-height: 26px;
    }

    .landingpage-container-top-body2 {
        flex-direction: column;
    }

    .landingpage-container-top-body2-left {
        padding: 0px 80px;
    }

    .landingpage-container-top-body2-left input {
        width: 350px;
        font-size: 12px;
    }

    .landingpage-container-top-body2-left-search-icon {
        right: 80px;
    }

    .landingpage-container-top-body3-songs {
        justify-content: center;
        gap: 80px;
    }

    .landingpage-container-middle {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-bottom: 30px;
        width: 100%;
    }

    .landingpage-container-middle-left img {
        width: 100%;
    }

    .landingpage-container-bottom-bodyTop {
        padding: 0 5px;
        align-items: end;
    }

    .landingpage-container-bottom-bodyTop h2 {
        font-size: 3vw;
    }

    .landingpage-container-bottom-bodyTop p {
        width: 21%;
        font-size: 2vw;
        margin: 11px 0 16px;
    }

    .landingpage-container-bottom-bodyTop button {
        font-size: 2vw;
        width: auto;
        height: auto;
        line-height: 0px;
    }

    .landingpage-container-bottom-bodyMiddle {
        text-align: center;
    }
}


@media screen and (min-width: 767px)and (max-width: 1023px) {
    .landingpage-container-top-body2 {
        flex-direction: column;
    }

    .landingpage-container-top-body3-songs {
        justify-content: center;
        gap: 80px;
    }

    .landingpage-container-middle {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-bottom: 30px;
        width: 100%;
    }

    .landingpage-container-bottom-bodyTop {
        padding: 0 20px;
    }

    .landingpage-container-bottom-bodyTop h2 {
        font-size: 3vw;
    }

    .landingpage-container-bottom-bodyTop p {
        width: 21%;
        font-size: 2vw;
    }

    .landingpage-container-bottom-bodyTop button {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1024px)and (max-width: 1439px) {

    .landingpage-container-top-body3-songs {
        justify-content: center;
    }

    .landingpage-container-middle {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-bottom: 30px;
    }
}



/* ----------------------------------------------------------------------------------- */
/* @media screen and (min-width: 320px) and (max-width: 766px) {}

@media screen and (min-width: 767px)and (max-width: 1023px) {}

@media screen and (min-width: 1024px)and (max-width: 1439px) {} */