.audio-player {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 2px solid #cecece;
    position: fixed;
    bottom: 0;
}

.audio-player-container {
    width: 77.5rem;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.audio-player-controls {
    display: flex;
    align-items: center;
    gap: 12px;
}

.audio-player-progress-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 38rem;
}

.start-time {
    color: #f50;
}

.bar-line {
    color: #f50;
    border: 1px solid #f50;
    width: 32rem;
    height: 0px;
}

.end-time {
    color: #333;
}

.audio-player-song-details {
    display: flex;
    justify-content: space-between;
    width: 21rem;
}

.about-song {
    display: flex;
    align-items: center;
    gap: 12px;
}

.title {
    display: flex;
    flex-direction: column;
}

.title span:nth-child(1) {
    font-size: 12px;
    line-height: 16px;
    color: #999;
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    max-width: 12rem;
}

.title span:nth-child(2) {
    font-size: 12px;
    color: #666;
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    max-width: 12rem;
}

.about-song img {
    width: 30px;
    height: 30px;
}

.audio-player-volume-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.vertical-slider {
    transform: rotate(-90deg);
    position: absolute;
    bottom: 85px;
}

.actions-on-songs {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* ----------------------------------------------------------------------------------- */
@media screen and (min-width: 320px) and (max-width: 766px) {

    .bar-line,
    .start-time,
    .end-time {
        display: none;
    }

    .audio-player-container {
        gap: 5px;
        width: 90%;
    }

    .audio-player-controls {
        gap: 4px;
    }
}

@media screen and (min-width: 767px)and (max-width: 1023px) {
    .audio-player-container {
        gap: 30px;
        width: 100%;
    }

    .bar-line {
        width: 20rem;
    }
}

@media screen and (min-width: 1024px)and (max-width: 1439px) {
    .audio-player-container {
        gap: 25px;
        width: 100%;
    }

    .bar-line {
        width: 30rem;
    }
}