.likes-heading{
    margin-bottom: 20px;
    min-height: 32px;
    font-size: 18px;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    color: #999;
}